<!DOCTYPE html>
<html lang="en" data-ng-app="bookXChange">

<head>
	<title>Login | Book X-Change</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/user.js"></script>
	<!--	<link href="me.css" rel="stylesheet" />-->
	<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script> <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-ng-controller="userController">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Book Xchange</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home<span class="sr-only">(current)</span></a></li>
					<li><a href="buy.html">Buy</a></li>
					<li><a href="sell.html">Sell</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!---IF LOGGED IN-->
					<li data-ng-show="user.authenticated === true" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.firstname}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="account.html">My Account</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="" data-ng-click="performLogout()">Logout</a></li>
						</ul>
					</li>
					<li class="active" data-ng-show="user.authenticated !== true"><a href="login.html">Login</a></li>
					<li data-ng-show="user.authenticated !== true"><a href="register.html">Register</a></li>
				</ul>

			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12 well">
				<form data-ng-init="loginuser = {email:'', password:''}">
					<fieldset>
						<legend>Login</legend>
						<div class="form-group">
							<label for="inputEmail">Email address</label>
							<input type="email" class="form-control" id="inputEmail" data-ng-model="loginuser.email" placeholder="Email" required="required" />
						</div>
						<div class="form-group">
							<label for="inputPassword">Password</label>
							<input type="password" class="form-control" id="inputPassword" data-ng-model="loginuser.password" placeholder="Password" required="required" />
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" /> Remember my password.
							</label>
						</div>
						<label data-ng-show="invalidPassword === true" class="text-danger">Invalid email or password.</label>
					</fieldset>
					<button data-ng-click="loginUser(loginuser)" type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>