<!DOCTYPE html>
<html lang="en" data-ng-app="bookXChange">

<head>
	<title>Sell | Book X-Change</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/user.js"></script>
	<script src="js/book.js"></script>
	<!--	<link href="me.css" rel="stylesheet" />-->
	<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script> <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<nav class="navbar navbar-default" data-ng-controller="userController">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Book Xchange</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home<span class="sr-only">(current)</span></a></li>
					<li><a href="buy.html">Buy</a></li>
					<li class="active"><a href="sell.html">Sell</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!---IF LOGGED IN-->
					<li data-ng-show="user.authenticated === true" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.firstname}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="account.html">My Account</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="" data-ng-click="performLogout()">Logout</a></li>
						</ul>
					</li>
					<li data-ng-show="user.authenticated !== true"><a href="login.html">Login</a></li>
					<li data-ng-show="user.authenticated !== true"><a href="register.html">Register</a></li>
				</ul>

			</div>
		</div>
	</nav>
	<div class="container" data-ng-init="newbook = {}" data-ng-controller="bookController">
		<div class="row">
			<div class="col-md-12 well">
				<form novalidate="novalidate">
					<fieldset>
						<legend>Sell</legend>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="title">Title</label>
									<input type="text" class="form-control" id="title" name="title" data-ng-model="newbook.title" placeholder="Title" required="required" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="publisher">Publisher</label>
									<input type="text" class="form-control" id="publisher" name="publisher" data-ng-model="newbook.publisher" placeholder="Publisher" required="required" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="author">Author</label>
									<input type="text" class="form-control" id="author" name="author" data-ng-model="newbook.author" placeholder="Author" required="required" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label for="edition">Edition</label>
									<input type="number" class="form-control" id="edition" name="edition" data-ng-model="newbook.edition" placeholder="Edition" required="required" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="isbn">ISBN</label>
									<input type="text" class="form-control" id="isbn" name="isbn" data-ng-model="newbook.isbn" placeholder="ISBN" required="required" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="condition">Condition</label>
									<input type="text" class="form-control" id="condition" name="condition" data-ng-model="newbook.condition" placeholder="Condition" required="required" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="comments">Comments</label>
									<textarea class="form-control" id="comments" name="comments" data-ng-model="newbook.comments" placeholder="Enter a comment..." required="required"></textarea>
								</div>
							</div>
						</div>
						<div class="form-group pull-right">
							<button class="btn btn-danger" type="reset">Reset</button>
							<button data-ng-click="addBook(newbook)" class="btn btn-primary">Submit</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>

</html>